
    <!-- Page Wrapper -->
    <div id="wrapper">


        <app-adminsidebar></app-adminsidebar>



        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <button type="button" class="btn btn-success" [routerLink]="['/home']">Home</button>
                        </li>
                
                        <li class="nav-item dropdown no-arrow mx-2">
                            <button (click)="logout()" type="button" class="btn btn-danger mx-2">Log out</button>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">




                    <!-- Recent Sales Start -->
                    <div class="container-fluid pt-2 px-4">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Orders</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table text-start align-middle table-bordered table-hover mb-0" id="example">
                                    <thead>
                                        <tr class="text-white">
                                            <th scope="col">Order ID</th>
                                            <th scope="col">Customer email</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Price</th>

                                        </tr>
                                    </thead>
                                      <tbody *ngFor="let order of orders">
                                        <tr *ngFor="let product of products" style="color: white;">
                                            <td *ngIf="email == product.seller && product._id == order.productid">{{order._id}}</td>
                                            <td *ngIf="email == product.seller && product._id == order.productid">{{order.cusid}}</td>
                                            <td *ngIf="email == product.seller && product._id == order.productid">{{product.title}}</td>
                                            <td *ngIf="email == product.seller && product._id == order.productid">{{product.price}}</td>


                                        </tr>
                                      </tbody>

                                </table>
                            </div>
                        </div>
                    </div>



                    <!-- Recent Sales End -->




                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
