
    <!-- Page Wrapper -->
    <div id="wrapper">


        <app-adminsidebar></app-adminsidebar>



        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <button type="button" class="btn btn-success" [routerLink]="['/home']">Home</button>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-2">
                            <button (click)="logout()" type="button" class="btn btn-danger mx-2">Log out</button>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">







                     <!-- add product -->
           <div class="container-fluid pt-2 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Add Product</h6>


                        <!-- <form action="" method="post" enctype="multipart/form-data"> -->

                        <div class="input-group mb-3">
                        <span class="input-group-text"></span>
                            <input type="text" class="form-control" [(ngModel)]="title" name="product_name" placeholder="Product Name" >
                            <span class="input-group-text"></span>
                            <input type="text" class="form-control" [(ngModel)]="catagory" name="Product No" placeholder="Product Catagory" aria-label="Server">
                        </div>

                        <div class="input-group mb-3">
                        <span class="input-group-text"></span>
                            <input type="number" class="form-control" [(ngModel)]="price" name="product_unitprice" placeholder="Unit Price" >
                        </div>
<!--
                            <div class="mb-3">

                                <input type="text" class="form-control" name="product_manufacture" placeholder="Manufacture">
                                <div class="form-text">#Hint:  Add your product Manufacture here.
                                </div>
                            </div> -->
                            <div class="mb-3">
                                <input type="text" [(ngModel)]="discount" class="form-control" name="product_material" placeholder="Discount">
                                <div class="form-text">#Hint:  Add your product Discount hear, like 20%.
                                </div>
                            </div>


                            <div class="input-group mb-3">
                        <!-- <span class="input-group-text">@</span>
                            <input type="number" class="form-control" name="product_quantity" placeholder="Quantity" > -->
                            <span class="input-group-text"></span>
                            <input class="form-control bg-dark" [(ngModel)]="img" type="text" name="product_image" placeholder="Image Link">
                        </div>

                        <div class="form-floating">
                            <textarea class="form-control" [(ngModel)]="dis" placeholder="Product Description"
                                id="floatingTextarea" style="height: 150px;"></textarea>
                            <label for="floatingTextarea">Product Description</label>
                        </div>


                            <button type="submit" (click)="addProduct()" name="add_product"class="btn btn-primary my-4" value="Add a product">Add</button>



                        <!-- </form> -->
                    </div>
                </div>



                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
