<app-nav></app-nav>


<div class="container mt-5 mb-5">
    <div class="row ">
        <div class="col-md-10">
            <div class="card" *ngFor="let product of products">

                <div class="row" *ngIf="product._id == id">

                    <div class="col-md-6">
                        <div class="images m-3">
                            <div class="text-center"> <img id="main-image" src="{{product.img}}"  height="400"/> </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="p-4 m-3">
                            <div class="">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Orianz</span>
                                <h4 class="text-uppercase">{{product.title}} </h4>
                                <div class="price d-flex flex-row align-items-center"> <span class="act-price">RS. {{product.price}} </span>
                                    <div class="mx-2"> <span> {{product.discount}}</span> </div>
                                </div>
                            </div>
                            <div class="mt-4 mb-3">
                                <div class="price d-flex flex-row align-items-center"> <span class="act-price" style="color: green;"><i class="bi bi-star-fill"></i></span>
                                    <div class="mx-2"> <span>{{likes}}</span> </div>
                                </div>
                            </div>
                            <p class="about mt-3">{{product.dis}} </p>
                                <div class="cart mt-4 ">
                                    <button (click)="buynow()" class="btn btn-danger text-uppercase mx-1">Buy Now</button>
                                    <a [routerLink]="['/chat/']" class="btn btn-info text-uppercase mx-1">Chat Now</a>
                                </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
</div>

<app-footer></app-footer>
