 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-text mx-3">User</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/user']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Interface
    </div> -->

    
    <!-- Nav Item - Add product -->
    <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/additem']">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Add Product</span></a>
    </li>
         -->

    <!-- Nav Item - Upadate Product -->
    <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/updateitem']">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Upadate Product</span></a>
    </li> -->

    <!-- Divider -->
    <!-- <hr class="sidebar-divider"> -->

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Orsers -->
    <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/orders']">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Orsers</span></a>
    </li> -->


    <!-- Nav Item - Message -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/chat']">
            <i class="fas fa-fw fa-table"></i>
            <span>Message</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

   

</ul>
<!-- End of Sidebar -->

